{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'site_components/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'site_components/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Automatic Layout Check</title>
</head>
<body>
	<div class="container">

        <div class="title-block">
			<h1>Automatic Layout Checker</h1>
		</div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

        <div class="upper-block">
            <div id="menu">
                <label class="file-upload">
                    <input type="file" name="pic">
                    <span>Загрузить эталонное изображение</span>
                </label>
                <label class="file-upload">
                    <input type="file" name="zip">
                    <span>Загрузить сверстанную страницу</span>
                </label>
                <label class="execute-button">
                    <button type="submit" id="start-btn">Выполнить</button>
                </label>
            </div>
        </div>

        <div class="small-block">
            {% for data in sample %}
                <div class="results-block">
                    <table class="table">
                        <tbody>
                            <tr class="">
                                <th colspan="4">Сравниваемое изображение {{ forloop.counter }}</th>
                            </tr>
                            <tr>
                                <th>Метод сравнения</th>
                                <th>Индекс сравнения</th>
                                <th>Процент схожести</th>
                                <th>Похожи ли изображения</th>
                            </tr>
                            <tr>
                                <td>Среднеквадратическая ошибка</td>
                                <td>{{ data.CMSE.index }}</td>
                                <td>{{ data.CMSE.similarity_percentage }}</td>
                                <td>{{ data.CMSE.are_similar }} при пороге <={{ data.CMSE.threshold }}</td>
                            </tr>
                            <tr>
                                <td>Индекс среднего структурного сходства</td>
                                <td>{{ data.CSSIM.index }}</td>
                                <td>{{ data.CSSIM.similarity_percentage }}</td>
                                <td>{{ data.CSSIM.are_similar }} при пороге >={{ data.CSSIM.threshold }}</td>
                            </tr>
                            <tr>
                                <td>Нейронка</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        </form>

		<div class="large-block">
            {% if reference_sample %}
                <div class="image-block">
                    <label id="pic_title">Эталонное изображение</label>
                    <img src="{% static reference_sample %}" alt="Uploaded Image">
                </div>
            {% endif %}

            {% if sample %}
                <div class="image-block">
                    {% for data in sample %}
                        <div>
                            <label id="pic_title">Сравниваемое изображение {{ forloop.counter }}</label>
                            <img src="{% static data.path %}" alt="Uploaded Image">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
		</div>

	</div>
</body>
</html>