{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>Automatic Layout Check</title>
</head>
<body>
    <h1>File Upload Form</h1>
    {% if uploaded_file %}
        <p>Uploaded file: {{ uploaded_file.name }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="zip">Загрузить сверстанную страницу:</label>
            <input type="file" name="zip" id="zip">
        </div>
        <div>
            <label for="pic">Загрузить эталонное изображение:</label>
            <input type="file" name="pic" id="pic">
        </div>
        <button type="submit">Выполнить</button>
    </form>
</body>
</html>