body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #7F3DFF;
    padding: 10px 0;
    color: #fff;
}

img {
	width: 100%;
	height: 100%;
}

span {
	padding-right: 3px;
}

.container {
    width: 80%;
    max-width: 600px;
	margin: 20px auto;
	padding: 10px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	align-items: center;
	justify-content: center;
	padding: 5px;
	background: linear-gradient(to bottom, #7F3DFF, #3a7bd5);
	margin-bottom: 10px;
	color: #fff;
}



.upper-block,
.small-block,
.large-block,
.results-block {
	display: flex;
	flex-wrap: wrap;
}

.settings-block {
	font-size: 14px;
	text-align: center;
	padding:20px;
}

.upper-block {
	padding: 20px;
}

.small-block {
	justify-content: space-between;
	align-items: left;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to right, #7c37ad, #3a7bd5);
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	align-items: center;
	justify-content: center;
}

.large-block {
	justify-content: space-between;
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image-block {
	flex-basis: 48%;
	padding-bottom: 30px;
	height: 100%;
	border: 6px solid #f5f5f5;
	background-color: #black;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.results-block {
	flex-basis: 47%;
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	padding: 10px 10px 20px 10px;
	border-radius: 10px;
	margin:5px;
}

/* Buttons */
.execute-button,
.file-upload {
	margin-left: 10px;
	display: inline-block;
	position: sticky;
	overflow: hidden;
	font-size: 16px;
	padding: 10px 25px;
	cursor: pointer;
	background-color: #3a7bd5;
	color: #fff;
	transition: background-color 0.3s ease;
	border-radius: 10px;
}

.settings-menu {
	display: inline-flex;
	margin:5px;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload:hover {
    background-color: #7c37ad;
}

.execute-button {
	padding: 0px;
	margin-left: 40px;
}

/* Switcher */
.switcher {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.switcher label:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.switcher input:checked + label {
  background-color: #2196F3;
}

.switcher input:checked + label:before {
  transform: translateX(14px);
}

/* Table */
.table {
	border-collapse: collapse;
    width: 100%;
    margin: 0px;
}

.table th, td {
	padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
	        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

.table tr:first-child {
	color: #fff;
	line-height: 35px;
	background: linear-gradient(to right, #7955C0, #7B4DD8);
}

#start-btn {
	padding: 10px;
	font-size: 16px;
	background-color: #3a7bd5;
	color: #fff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease;
	display: block;
}

#start-btn:hover {
	background-color: #7c37ad;
	color: #fff;
}

#pic_title {
	display: flex;
	align-items:center;
	justify-content: center;
	padding: 15px;
	font-size: 25px;
	color: #fff;
	background: linear-gradient(to right, #7955C0, #7B4DD8);
	border-radius: 10px 10px 0 0;
}
