/* Global Styles */

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #fff;
}

img {
	width: 100%;
	height: 100%;
}
/* Container */

.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Blocks */

.title-block {
	display: flex;
	color: #fff;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: 10px;
	background: linear-gradient(to right, #7c37ad, #3a7bd5);
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.small-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to right, #7c37ad, #3a7bd5);
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.large-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image-block {
	flex-basis: 48%;
	height: 100%;
	border: 6px solid #f5f5f5;
	background-color: #black;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Button */

.button-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 65%;
	margin-top: 10px;
}

.middle-block {
	display: flex;
	align-items:center;
	justify-content: center;
	padding-bottom: 20px;
}

#pic,
#zip {
	color: #fff;
	flex-basis: calc(50% - 5px);
	padding: 10px;
	border-radius: 10px;
	border: none;
}

#file-input-1,
#file-input-2 {
	color: #fff;
	flex-basis: calc(50% - 5px);
	padding: 10px;
	border-radius: 10px;
	border: none;
}

#start-btn {
	background-color: #7c37ad;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease;
	display: block;
}

#start-btn:hover {
	background-color: #3a7bd5;
	color: #fff;
}
